flow_backup/KML Generator.json
{
  "name": "KML Generator",
  "nodes": [
    {
      "parameters": {
        "command": "=python /app/scripts/line_kml_gen.py --input-file \"/tmp/line_tmp.json\" --output-file \"/tmp/line_tmp.kml\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1200,
        140
      ],
      "id": "68fc8306-6552-4335-8d53-355a830fb5fb",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "jsCode": "// Node này nằm sau Google Sheets, trước Code ghi file tạm.\n// Đặt tên: \"Prepare_Pure_JSON_for_Python\"\n\n// Lấy tất cả các item đầu vào từ node trước đó (ví dụ: Google Sheets)\nconst allN8nItems = $input.all();\n\n// Tạo một mảng mới chỉ chứa các đối tượng JSON thuần túy\n// Loại bỏ các metadata của n8n như \"pairedItem\"\nconst pureJsonData = allN8nItems.map(item => item.json);\n\n// Trả về mảng các đối tượng JSON thuần túy này.\n// Node Code tiếp theo (ghi file tạm) sẽ nhận cấu trúc này.\nreturn [{\n    json: {\n        rawData: pureJsonData, // Đặt tên biến để dễ truy cập sau này\n        // Giữ lại các biến context khác từ item đầu tiên nếu cần\n\n        // ...\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        140
      ],
      "id": "9953f7f6-44c6-462e-85ed-47e6017807cb",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        780,
        140
      ],
      "id": "9d7803b4-e55b-4e26-bc0b-889a2f74b803",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/line_tmp.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1000,
        140
      ],
      "id": "020943aa-e3cf-4360-b413-e7cd43ed4d28",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "content": "## TẠO TUYÊN CÁP",
        "height": 340,
        "width": 2860
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "61d8651b-bd86-4876-80d7-e1cedac672c2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Lấy chuỗi từ input của node Code.\n// Ví dụ: Chuỗi JSON từ stdout của Execute Command\nconst jsonString = $input.first().json.stdout; // Thay 'yourStringVariable' bằng tên biến chứa chuỗi JSON\n\nlet parsedData = null;\nlet errorMessage = null;\n\ntry {\n    // --- Chuyển đổi chuỗi thành đối tượng JSON ---\n    parsedData = JSON.parse(jsonString);\n} catch (e) {\n    // Xử lý lỗi nếu chuỗi không phải là JSON hợp lệ\n    errorMessage = `Lỗi parse JSON: <span class=\"math-inline\">\\{e\\.message\\}\\. Chuỗi gốc\\:\\\\n</span>{jsonString}`;\n    console.error(errorMessage);\n    // Bạn có thể trả về một đối tượng lỗi hoặc null nếu parse thất bại\n    return [{ json: { success: false, error: errorMessage, originalString: jsonString } }];\n}\n\n// --- Trả về kết quả đã parse ---\n// Giờ bạn có thể sử dụng 'parsedData' như một đối tượng JavaScript/JSON\nreturn [{ json: { success: true, parsedData: parsedData, originalString: jsonString } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        140
      ],
      "id": "76edd00e-64fa-4da0-a870-70ab5ad04599",
      "name": "parse json1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2380,
        160
      ],
      "id": "4bd91c0a-c0a7-4bd4-8f58-436eb4fe60cf",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d1e8119-0926-4308-91aa-2bc8e853412a",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "0f0f4167-3866-42ef-9c7b-a6d86992c552",
              "name": "webContentLink",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "ff4c9f6d-364e-4506-9866-d65f8aa90f1d",
              "name": "webViewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "5c4b0571-57d3-47e4-8a88-71fb43a8fe17",
              "name": "createdTime",
              "value": "={{$json.createdTime}}",
              "type": "string"
            },
            {
              "id": "84a92a48-aca2-4d6f-9225-7a03cfdc2137",
              "name": "modifiedTime",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "5ab33620-eb4e-49b4-b51d-7b28d6bdc58f",
              "name": "userName",
              "value": "={{ $json.owners[0].displayName }}",
              "type": "string"
            },
            {
              "id": "404b45d0-479c-4a9d-818f-21a29b77e3df",
              "name": "email",
              "value": "={{ $json.lastModifyingUser.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2140,
        40
      ],
      "id": "8634e54a-c7f0-4568-9f7f-c021f9e46f6f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "57ccb4b8-a086-40ef-9759-8cf2242ec323",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        140
      ],
      "id": "8feed079-7386-4914-b46e-ba53fc583e59",
      "name": "Webhook1",
      "webhookId": "57ccb4b8-a086-40ef-9759-8cf2242ec323"
    },
    {
      "parameters": {
        "jsCode": "// Node này nằm sau Google Sheets, trước Code ghi file tạm.\n// Đặt tên: \"Prepare_Pure_JSON_for_Python\"\n\n// Lấy tất cả các item đầu vào từ node trước đó (ví dụ: Google Sheets)\nconst allN8nItems = $input.all();\n\n// Tạo một mảng mới chỉ chứa các đối tượng JSON thuần túy\n// Loại bỏ các metadata của n8n như \"pairedItem\"\nconst pureJsonData = allN8nItems.map(item => item.json);\n\n// Trả về mảng các đối tượng JSON thuần túy này.\n// Node Code tiếp theo (ghi file tạm) sẽ nhận cấu trúc này.\nreturn [{\n    json: {\n        rawData: pureJsonData, // Đặt tên biến để dễ truy cập sau này\n        // Giữ lại các biến context khác từ item đầu tiên nếu cần\n\n        // ...\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        540
      ],
      "id": "e060cfb6-2730-4284-a320-64369e3f3ddc",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1000,
        540
      ],
      "id": "56a223a1-6dfb-4fde-87d4-6b7b55dd26a9",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/site_kml_tmp.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1200,
        540
      ],
      "id": "e402fdde-23d7-44fc-8b24-1874a97ec82b",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "content": "## TẠO SITE KML QUA WEBHOOK GG SHEET",
        "height": 340,
        "width": 2840
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        400
      ],
      "typeVersion": 1,
      "id": "f6cbf5ef-e940-4fe5-b1a5-0b0a48e56cea",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2420,
        580
      ],
      "id": "09965f6f-c5a2-4878-b26f-4b0516304d82",
      "name": "Merge2"
    },
    {
      "parameters": {
        "command": "=python /app/scripts/site_kml_gen.py --input-file \"/tmp/site_kml_tmp.json\" --output-file \"output_sites.kml\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1400,
        540
      ],
      "id": "2bd45d83-1037-4b10-9fbe-80607cd1f285",
      "name": "Tạo file Kml1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d1e8119-0926-4308-91aa-2bc8e853412a",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "0f0f4167-3866-42ef-9c7b-a6d86992c552",
              "name": "webContentLink",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "ff4c9f6d-364e-4506-9866-d65f8aa90f1d",
              "name": "webViewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "5c4b0571-57d3-47e4-8a88-71fb43a8fe17",
              "name": "createdTime",
              "value": "={{$json.createdTime}}",
              "type": "string"
            },
            {
              "id": "84a92a48-aca2-4d6f-9225-7a03cfdc2137",
              "name": "modifiedTime",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "5ab33620-eb4e-49b4-b51d-7b28d6bdc58f",
              "name": "userName",
              "value": "={{ $json.owners[0].displayName }}",
              "type": "string"
            },
            {
              "id": "404b45d0-479c-4a9d-818f-21a29b77e3df",
              "name": "email",
              "value": "={{ $json.lastModifyingUser.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        420
      ],
      "id": "4be4914b-b477-487f-a584-9ecbb7017a42",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "93cee6c7-56e5-4695-996d-f47564a9ad82",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        540
      ],
      "id": "eb7dfce1-6414-456f-92c3-3cba0e831642",
      "name": "Webhook2",
      "webhookId": "93cee6c7-56e5-4695-996d-f47564a9ad82"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "587f6ae8-3e1a-4065-8daf-a42ae3822f2d",
              "name": "triggerEmail",
              "value": "={{ $json.body.triggerInfo.triggeredBy.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        600
      ],
      "id": "c37f609b-298b-409b-861f-8d15e16435fb",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "587f6ae8-3e1a-4065-8daf-a42ae3822f2d",
              "name": "triggerEmail",
              "value": "={{ $json.body.triggerInfo.triggeredBy.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        220
      ],
      "id": "3ca59326-2801-4922-bb71-ae351ee4251c",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "command": "=python /app/scripts/route_kml_gen_with_log_fix.py --input-file /tmp/route_kml_tmp.json --api-key 5b3ce3597851110001cf6248cd2374175a23401fb3c67522bfa8668d --output-file /tmp/route_kml_tmp.kml --log-file \"/tmp/route_log.log\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1200,
        980
      ],
      "id": "32084030-8c2f-4a65-86d2-0566c603e7a0",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "jsCode": "// Node này nằm sau Google Sheets, trước Code ghi file tạm.\n// Đặt tên: \"Prepare_Pure_JSON_for_Python\"\n\n// Lấy tất cả các item đầu vào từ node trước đó (ví dụ: Google Sheets)\nconst allN8nItems = $input.all();\n\n// Tạo một mảng mới chỉ chứa các đối tượng JSON thuần túy\n// Loại bỏ các metadata của n8n như \"pairedItem\"\nconst pureJsonData = allN8nItems.map(item => item.json);\n\n// Trả về mảng các đối tượng JSON thuần túy này.\n// Node Code tiếp theo (ghi file tạm) sẽ nhận cấu trúc này.\nreturn [{\n    json: {\n        rawData: pureJsonData, // Đặt tên biến để dễ truy cập sau này\n        // Giữ lại các biến context khác từ item đầu tiên nếu cần\n\n        // ...\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        980
      ],
      "id": "6d914820-25ea-4a47-88b9-e578498c931d",
      "name": "Code4"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        780,
        980
      ],
      "id": "ecfe1750-22cb-4da4-909f-327250720921",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/route_kml_tmp.json",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1000,
        980
      ],
      "id": "8e836828-07cb-4bc1-9a69-9773e31ee4e9",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "content": "## TẠO ROUTE ĐƯỜNG ĐI",
        "height": 500,
        "width": 2860
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        840
      ],
      "typeVersion": 1,
      "id": "a962d4bc-cdc2-48f0-9a4e-184886a286b8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "587f6ae8-3e1a-4065-8daf-a42ae3822f2d",
              "name": "triggerEmail",
              "value": "={{ $json.body.triggerInfo.triggeredBy.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        1060
      ],
      "id": "64b2e821-49af-4a80-b709-bbf6a1388a0c",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a76cf3fa-ecd1-477d-b92d-b287a56a19e7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        980
      ],
      "id": "be695b7b-3d40-4531-bef9-37721c4be9fb",
      "name": "Webhook3",
      "webhookId": "a76cf3fa-ecd1-477d-b92d-b287a56a19e7"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2180,
        980
      ],
      "id": "2b6b5a34-7c0f-4f7a-afe5-82aefde43fce",
      "name": "Merge4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d1e8119-0926-4308-91aa-2bc8e853412a",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "0f0f4167-3866-42ef-9c7b-a6d86992c552",
              "name": "webContentLink",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "ff4c9f6d-364e-4506-9866-d65f8aa90f1d",
              "name": "webViewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "5c4b0571-57d3-47e4-8a88-71fb43a8fe17",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "84a92a48-aca2-4d6f-9225-7a03cfdc2137",
              "name": "modifiedTime",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "5ab33620-eb4e-49b4-b51d-7b28d6bdc58f",
              "name": "userName",
              "value": "={{ $json.owners[0].displayName }}",
              "type": "string"
            },
            {
              "id": "404b45d0-479c-4a9d-818f-21a29b77e3df",
              "name": "email",
              "value": "={{ $json.lastModifyingUser.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        860
      ],
      "id": "f4476558-f494-46be-abad-0da846a68f60",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "jsCode": "// Lấy chuỗi từ input của node Code.\n// Ví dụ: Chuỗi JSON từ stdout của Execute Command\nconst jsonString = $input.first().json.stdout; // Thay 'yourStringVariable' bằng tên biến chứa chuỗi JSON\n\nlet parsedData = null;\nlet errorMessage = null;\n\ntry {\n    // --- Chuyển đổi chuỗi thành đối tượng JSON ---\n    parsedData = JSON.parse(jsonString);\n} catch (e) {\n    // Xử lý lỗi nếu chuỗi không phải là JSON hợp lệ\n    errorMessage = `Lỗi parse JSON: <span class=\"math-inline\">\\{e\\.message\\}\\. Chuỗi gốc\\:\\\\n</span>{jsonString}`;\n    console.error(errorMessage);\n    // Bạn có thể trả về một đối tượng lỗi hoặc null nếu parse thất bại\n    return [{ json: { success: false, error: errorMessage, originalString: jsonString } }];\n}\n\n// --- Trả về kết quả đã parse ---\n// Giờ bạn có thể sử dụng 'parsedData' như một đối tượng JavaScript/JSON\nreturn [{ json: { success: true, parsedData: parsedData, originalString: jsonString } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        980
      ],
      "id": "4062c48c-7d7a-454d-8919-6419f41d3baf",
      "name": "parse json4"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.parsedData.kml_file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1600,
        980
      ],
      "id": "3fcbd988-6e4c-4f3a-baec-7e915b36b141",
      "name": "Read/Write Files from Disk4"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.parsedData.kml_file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1780,
        540
      ],
      "id": "fd4ce38a-640a-4a7f-8b0d-8b5a6b98c1ac",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "// Lấy chuỗi từ input của node Code.\n// Ví dụ: Chuỗi JSON từ stdout của Execute Command\nconst jsonString = $input.first().json.stdout; // Thay 'yourStringVariable' bằng tên biến chứa chuỗi JSON\n\nlet parsedData = null;\nlet errorMessage = null;\n\ntry {\n    // --- Chuyển đổi chuỗi thành đối tượng JSON ---\n    parsedData = JSON.parse(jsonString);\n} catch (e) {\n    // Xử lý lỗi nếu chuỗi không phải là JSON hợp lệ\n    errorMessage = `Lỗi parse JSON: <span class=\"math-inline\">\\{e\\.message\\}\\. Chuỗi gốc\\:\\\\n</span>{jsonString}`;\n    console.error(errorMessage);\n    // Bạn có thể trả về một đối tượng lỗi hoặc null nếu parse thất bại\n    return [{ json: { success: false, error: errorMessage, originalString: jsonString } }];\n}\n\n// --- Trả về kết quả đã parse ---\n// Giờ bạn có thể sử dụng 'parsedData' như một đối tượng JavaScript/JSON\nreturn [{ json: { success: true, parsedData: parsedData, originalString: jsonString } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        540
      ],
      "id": "18ee4b3f-70b4-4a8d-a730-70cd31592d5a",
      "name": "parse json"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.parsedData.kml_file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1640,
        140
      ],
      "id": "27be3015-7ae5-4974-9be6-893d9ecc45fd",
      "name": "Read/Write Files from Disk5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0",
          "mode": "list",
          "cachedResultName": "Tạo tuyến cáp kml",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "cable_gen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        340,
        140
      ],
      "id": "9803ccdf-fd97-40e9-b33a-50b1c7605689",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Gyrw6VBewdlCjyyM",
          "name": "Google Sheets account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "name": "=line_kml_{{ new Date().toLocaleString('en-US', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }).replace(/[^0-9a-zA-Z]/g, '_') }}.kml",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13xQ8CQfGG5afG7TaNiL_k4IZhSUHt8Tu",
          "mode": "list",
          "cachedResultName": "KML GEN ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13xQ8CQfGG5afG7TaNiL_k4IZhSUHt8Tu"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        20
      ],
      "id": "49dab48f-3131-422e-a6b7-cf8284a06df7",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x1VEpqHzo4xFsyp4",
          "name": "Google Drive account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0",
          "mode": "list",
          "cachedResultName": "Tạo tuyến cáp kml",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1429268105,
          "mode": "list",
          "cachedResultName": "result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit#gid=1429268105"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Kml download": "={{ $json.webContentLink }}",
            "Timestamp": "={{new Date($json.createdTime).toLocaleString('en-GB', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false })}}",
            "User": "={{ $json.triggerEmail }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kml download",
              "displayName": "Kml download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2620,
        160
      ],
      "id": "9f8c81fb-5f47-4a6c-ad8f-da3becf0b31b",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Gyrw6VBewdlCjyyM",
          "name": "Google Sheets account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0",
          "mode": "list",
          "cachedResultName": "Tạo tuyến cáp kml",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1429268105,
          "mode": "list",
          "cachedResultName": "result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit#gid=1429268105"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Kml download": "={{ $json.webContentLink }}",
            "Timestamp": "={{new Date($json.createdTime).toLocaleString('en-GB', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false })}}",
            "User": "={{ $json.triggerEmail }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kml download",
              "displayName": "Kml download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2600,
        580
      ],
      "id": "b7cba71b-487c-4436-bcb4-4126a1149a7d",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Gyrw6VBewdlCjyyM",
          "name": "Google Sheets account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0",
          "mode": "list",
          "cachedResultName": "Tạo tuyến cáp kml",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 477642479,
          "mode": "list",
          "cachedResultName": "site_gen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit#gid=477642479"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        580,
        540
      ],
      "id": "e8fed717-93d8-47c2-8ecd-68fa056caa11",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Gyrw6VBewdlCjyyM",
          "name": "Google Sheets account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "name": "=site_kml_{{ new Date().toLocaleString('en-US', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }).replace(/[^0-9a-zA-Z]/g, '_') }}.kml",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13xQ8CQfGG5afG7TaNiL_k4IZhSUHt8Tu",
          "mode": "list",
          "cachedResultName": "KML GEN ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13xQ8CQfGG5afG7TaNiL_k4IZhSUHt8Tu"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1980,
        420
      ],
      "id": "eed00336-9f58-4b92-9f97-cfaf97b045e9",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x1VEpqHzo4xFsyp4",
          "name": "Google Drive account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0",
          "mode": "list",
          "cachedResultName": "Tạo tuyến cáp kml",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1429268105,
          "mode": "list",
          "cachedResultName": "result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit#gid=1429268105"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Kml download": "={{ $json.webContentLink }}",
            "Timestamp": "={{new Date($json.createdTime).toLocaleString('en-GB', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false })}}",
            "User": "={{ $json.triggerEmail }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kml download",
              "displayName": "Kml download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2400,
        980
      ],
      "id": "f513e480-0b7d-4d15-b9a1-c67e949a3bc4",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Gyrw6VBewdlCjyyM",
          "name": "Google Sheets account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0",
          "mode": "list",
          "cachedResultName": "Tạo tuyến cáp kml",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1804854025,
          "mode": "list",
          "cachedResultName": "route_gen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit#gid=1804854025"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        340,
        980
      ],
      "id": "3cf3d6b5-afbe-4ec1-8862-fbe1d966da57",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Gyrw6VBewdlCjyyM",
          "name": "Google Sheets account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "name": "=route_kml_{{ new Date().toLocaleString('en-US', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }).replace(/[^0-9a-zA-Z]/g, '_') }}.kml",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13xQ8CQfGG5afG7TaNiL_k4IZhSUHt8Tu",
          "mode": "list",
          "cachedResultName": "KML GEN ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13xQ8CQfGG5afG7TaNiL_k4IZhSUHt8Tu"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1820,
        860
      ],
      "id": "c49b90e2-77ee-4043-95ac-198c8fd8e89e",
      "name": "Upload file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x1VEpqHzo4xFsyp4",
          "name": "Google Drive account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "command": "=python /app/scripts/route_kml_gen.py --input-file /tmp/route_kml_tmp.json --api-key 5b3ce3597851110001cf6248cd2374175a23401fb3c67522bfa8668d --output-file /tmp/route_kml_tmp.kml"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1200,
        1520
      ],
      "id": "ee3ba9fe-a438-468f-b46d-da480a75c66c",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "jsCode": "// Node này nằm sau Google Sheets, trước Code ghi file tạm.\n// Đặt tên: \"Prepare_Pure_JSON_for_Python\"\n\n// Lấy tất cả các item đầu vào từ node trước đó (ví dụ: Google Sheets)\nconst allN8nItems = $input.all();\n\n// Tạo một mảng mới chỉ chứa các đối tượng JSON thuần túy\n// Loại bỏ các metadata của n8n như \"pairedItem\"\nconst pureJsonData = allN8nItems.map(item => item.json);\n\n// Trả về mảng các đối tượng JSON thuần túy này.\n// Node Code tiếp theo (ghi file tạm) sẽ nhận cấu trúc này.\nreturn [{\n    json: {\n        rawData: pureJsonData, // Đặt tên biến để dễ truy cập sau này\n        // Giữ lại các biến context khác từ item đầu tiên nếu cần\n\n        // ...\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1520
      ],
      "id": "70bc0682-7e87-4af0-91ee-865c1cca176c",
      "name": "Code5"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        780,
        1520
      ],
      "id": "11f90d21-1ea1-4420-ba73-7a0054b0f25d",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/route_kml_tmp.json",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1000,
        1520
      ],
      "id": "b9e8b7ac-c421-4b29-92d9-66b8201050d5",
      "name": "Read/Write Files from Disk6"
    },
    {
      "parameters": {
        "content": "## TẠO ROUTE ĐƯỜNG ĐI + THIẾT KẾ KM CÁP ",
        "height": 340,
        "width": 2860
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1380
      ],
      "typeVersion": 1,
      "id": "c5b0e3f3-2c05-4074-9a4b-9f63de357491",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "587f6ae8-3e1a-4065-8daf-a42ae3822f2d",
              "name": "triggerEmail",
              "value": "={{ $json.body.triggerInfo.triggeredBy.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        1600
      ],
      "id": "f3c6d015-a874-4b52-a8f3-8171195ab5a3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2180,
        1520
      ],
      "id": "d2f584b6-be99-4596-b1f0-f52da6b5c9cb",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d1e8119-0926-4308-91aa-2bc8e853412a",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "0f0f4167-3866-42ef-9c7b-a6d86992c552",
              "name": "webContentLink",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "ff4c9f6d-364e-4506-9866-d65f8aa90f1d",
              "name": "webViewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "5c4b0571-57d3-47e4-8a88-71fb43a8fe17",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "84a92a48-aca2-4d6f-9225-7a03cfdc2137",
              "name": "modifiedTime",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "5ab33620-eb4e-49b4-b51d-7b28d6bdc58f",
              "name": "userName",
              "value": "={{ $json.owners[0].displayName }}",
              "type": "string"
            },
            {
              "id": "404b45d0-479c-4a9d-818f-21a29b77e3df",
              "name": "email",
              "value": "={{ $json.lastModifyingUser.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        1400
      ],
      "id": "8c75ce91-e297-45e9-ad84-1b4ee9709dc3",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "jsCode": "// Lấy chuỗi từ input của node Code.\n// Ví dụ: Chuỗi JSON từ stdout của Execute Command\nconst jsonString = $input.first().json.stdout; // Thay 'yourStringVariable' bằng tên biến chứa chuỗi JSON\n\nlet parsedData = null;\nlet errorMessage = null;\n\ntry {\n    // --- Chuyển đổi chuỗi thành đối tượng JSON ---\n    parsedData = JSON.parse(jsonString);\n} catch (e) {\n    // Xử lý lỗi nếu chuỗi không phải là JSON hợp lệ\n    errorMessage = `Lỗi parse JSON: <span class=\"math-inline\">\\{e\\.message\\}\\. Chuỗi gốc\\:\\\\n</span>{jsonString}`;\n    console.error(errorMessage);\n    // Bạn có thể trả về một đối tượng lỗi hoặc null nếu parse thất bại\n    return [{ json: { success: false, error: errorMessage, originalString: jsonString } }];\n}\n\n// --- Trả về kết quả đã parse ---\n// Giờ bạn có thể sử dụng 'parsedData' như một đối tượng JavaScript/JSON\nreturn [{ json: { success: true, parsedData: parsedData, originalString: jsonString } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        1520
      ],
      "id": "7d601137-c75a-4ef3-a31a-acfdc7d38b30",
      "name": "parse json5"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.parsedData.kml_file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1600,
        1520
      ],
      "id": "f8d53721-e85e-43f5-9069-cd86303d158a",
      "name": "Read/Write Files from Disk7"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0",
          "mode": "list",
          "cachedResultName": "Tạo tuyến cáp kml",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1429268105,
          "mode": "list",
          "cachedResultName": "result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit#gid=1429268105"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Kml download": "={{ $json.webContentLink }}",
            "Timestamp": "={{new Date($json.createdTime).toLocaleString('en-GB', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false })}}",
            "User": "={{ $json.triggerEmail }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kml download",
              "displayName": "Kml download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2400,
        1520
      ],
      "id": "80612275-0ce9-42b5-a345-edab7539ee50",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Gyrw6VBewdlCjyyM",
          "name": "Google Sheets account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0",
          "mode": "list",
          "cachedResultName": "Tạo tuyến cáp kml",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1804854025,
          "mode": "list",
          "cachedResultName": "route_gen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fyxsF11Tcrb5unJjF6e16vn7rsRwFdZDf8KV4FuwhF0/edit#gid=1804854025"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        340,
        1520
      ],
      "id": "8c12990d-5ae9-4ad8-85b8-4daf29d9dff5",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Gyrw6VBewdlCjyyM",
          "name": "Google Sheets account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "name": "=route_kml_{{ new Date().toLocaleString('en-US', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }).replace(/[^0-9a-zA-Z]/g, '_') }}.kml",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1820,
        1400
      ],
      "id": "9351a1be-38b9-474a-b08c-956980df6980",
      "name": "Upload file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x1VEpqHzo4xFsyp4",
          "name": "Google Drive account - nguyensongnghiem"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db8f2106-618a-4513-8432-9c08c9835d4f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        1520
      ],
      "id": "cacf6890-e808-4b05-8e78-5fe42341b2dd",
      "name": "Webhook",
      "webhookId": "db8f2106-618a-4513-8432-9c08c9835d4f"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Command1": {
      "main": [
        [
          {
            "node": "parse json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse json1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Tạo file Kml1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo file Kml1": {
      "main": [
        [
          {
            "node": "parse json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "parse json4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse json4": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "parse json": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        [
          {
            "node": "parse json5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk6": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse json5": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk7": {
      "main": [
        [
          {
            "node": "Upload file3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b98c4c5e-7f47-4030-8586-8573b4269841",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "109ffc1ad34e788fff5760eaeebf3878d485e7cc9bc3c60a2403b2d680b47f76"
  },
  "id": "zNWyu5E4XszADNNn",
  "tags": []
}